{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Portfolio Start -->

<section class="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Sonntaggottesdienste</h2>
          <div class="row shuffle-wrapper">  
            {{ range .Data.Pages -}}                    
            {{ if strings.Contains .Params.ggflag "m"}}
            {{ $cats := .Params.category -}}
            {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}}
            {{ $cats = apply $cats "urlize" "." | jsonify -}}
              <div class="col-md-4 portfolio-item shuffle-item" data-groups="{{ $cats }}">
                {{ if isset .Params "image" -}}
                <div class="overly">
                  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                </div>
                {{- end }}
                  <div class="portfolio-content">
                    <a class="h3" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <p>{{ .Params.description }}</p>
                  </div>
              </div>
            {{end}}          
            {{end}}
          </div>
          <h2>Weitere Gottesdienste</h2>
          <div class="row shuffle-wrapper">  
            {{ range .Data.Pages -}}                    
            {{ if strings.Contains .Params.ggflag "t"}}
            {{ $cats := .Params.category -}}
            {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}}
            {{ $cats = apply $cats "urlize" "." | jsonify -}}
              <div class="col-md-4 portfolio-item shuffle-item" data-groups="{{ $cats }}">
                {{ if isset .Params "image" -}}
                <div class="overly">
                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                </div>
                {{- end }}
                  <div class="portfolio-content">
                    <a class="h3" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <p>{{ .Params.description }}</p>
                  </div>
              </div>
            {{end}}          
            {{end}}
            </div>
            <h2>Weitere Veranstaltungen</h2>
            <div class="row shuffle-wrapper">  
            {{ range .Data.Pages -}}                    
            {{ if strings.Contains .Params.ggflag "f"}}
            {{ $cats := .Params.category -}}
            {{ if not (reflect.IsSlice $cats) }}{{ $cats = slice ($cats) }}{{ end -}}
            {{ $cats = apply $cats "urlize" "." | jsonify -}}
            <div class="col-md-4 portfolio-item shuffle-item" data-groups="{{ $cats }}">
              {{ if isset .Params "image" -}}
              <div class="overly">
              <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
              </div>
              {{- end }}
                <div class="portfolio-content">
                  <a class="h3" href="{{ .RelPermalink }}">{{ .Title }}</a>
                  <p>{{ .Params.description }}</p>
                </div>
            </div>          
            {{ end }}
            {{- end }}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
