{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.about }}
{{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>
      </div>
      <div class="col-md-6">
        {{ with .title }}<h2 class="mt-40">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        {{ with .button }}
        {{ if .enable }}
        <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row counter-box text-center mt-50">
      {{ range .funfacts }}
      <div class="col-md-2">
        <div class="counter-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .count }}<h4 class="count" data-count="{{ . }}">0</h4>{{ end }}
          {{ with .name }}<span>{{ . }}</span>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.features }}
{{ if .enable }}
<section class="about-feature bg-dark section dark-service">
  <div class="container">
    {{ with .title }}
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>{{ . | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="row">
      {{ range .feature_item }}
      <div class="col-md-4">
        <div class="service-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .name }}<h4>{{ . | markdownify }}</h4>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<section class="testimonial section-sm">
  <div class="container">
    <div class="row">
      {{ if .Params.testimonial.enable }}
      {{ with .GetPage "/" }}
      <div class="col-md-6">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .Params.funfacts.testimonial_slider }}
            <div>
              <i class="fas fa-tty"></i>
              {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
              <div class="user">
                {{ with .image }}<img src="{{ . | relURL }}" alt="client">{{ end }}
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.mission_vision }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="tabCommon">
          {{ with site.Params.contact -}}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ i18n "address_title" }}</h2>
          <ul class="address-block">
            {{ $add_address_descriptors := .address_descriptors }}
            {{ with site.Params.location }}<li><i class="fas fa-map-marker-alt"></i>{{ if $add_address_descriptors }}{{ i18n "location" | printf "%s: " }}{{ end }}<div>{{ . | markdownify }}</div></li>{{ end }}
            {{ with site.Params.email }}<li><i class="fas fa-envelope"></i>{{ if $add_address_descriptors }}{{ i18n "email" | printf "%s: " }}{{ end }}{{ partial "cloak_email" . }}</li>{{ end }}
            {{ with site.Params.phone }}<li><i class="fas fa-tty"></i>{{ if $add_address_descriptors }}{{ i18n "phone" | printf "%s: " }}{{ end }}{{ . }}</li>{{ end }}
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social -}}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{- end }}
          </ul>
        </div>
      </div>
      {{- end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
